<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyrics Search</title>
    <link rel="stylesheet" href="/css/lyrics.css">

</head>
<body>
    <h1>Lyrics Search</h1>
    <form id="searchForm">
        <input type="text" id="searchQuery" name="query" placeholder="Search for lyrics...">
        <button type="submit">Search</button>
    </form>
    <div id="searchResults"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/lyrics.js"></script>
</body>
</html>
